@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #160535;
}

::-webkit-scrollbar-thumb {
    background-color: #140e70;
    border-radius: 4px;
}

body {
    scroll-behavior: smooth;
    background-color: #0E0B16;
    font-family: "Poppins", sans-serif;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

body.scroll-lock {
    overflow: hidden;
}

nav {
    height: 10%;
    background-color: rgba(8, 4, 27, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}

#hamburger i {
    font-size: 3rem;
    margin: 20px;
    color: white;
    display: none;
    position: absolute;
    z-index: 1000;
}

#close {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    width: 40%;
    height: 10%;
}

.logo img {
    width: 70px;
    margin: 10px 100px;
}

.nav-elements {
    width: 60%;
}

.elements {
    list-style-type: none;
    display: flex;
    padding: 20px;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.elements li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
}

.elements li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: aqua;
    transition: width 0.3s;
}

.elements li a:hover::before {
    width: 100%;
}

.elements li a:hover {
    color: aqua;
}

#home {
    height: 100vh;
    display: flex;
}

.intro {
    height: 100vh;
    width: 65vw;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 0 35px;
    flex-direction: column;
}

#name-intro {
    color: aqua;
    font-weight: bolder;
}

.intro-img {
    height: 100vh;
    width: 35vw;
    display: flex;
    margin-right: 30px;
    justify-content: end;
    align-items: center;
}

#element {
    color: rgb(247, 92, 169);
}

.intro-img img {
    width: 30rem;
    height: auto;
}

.intro-links {
    display: flex;
    gap: 15px;
}

.intro-links li img {
    width: 30px;
    transition: all 0.3s ease-in;
}

.intro-links li img:hover {
    width: 40px;
    cursor: pointer;
}

.download-cv {
    margin-top: 5px;
    background-color: #150b9b;
    width: fit-content;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-cv:hover {
    background-color: #281653;
}

#about {
    margin: 30px 0;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #140f20;
}

.about-heading {
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    height: 10vh;
}

.about-img {
    height: 50vh;
    width: 25vw;
    margin: 30px;
    border-radius: 10px;
}

.about-introduction {
    margin: 10px;
}

.about-content {
    display: flex;
    height: 75vh;
    margin: 10px 30px;
}

.about-intro {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-para {
    font-size: 1rem;
    text-align: justify;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(104, 100, 100);
}

#about span {
    color: aqua;
    font-weight: bold;
}

.about-box {
    width: 60vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.animated-element {
    opacity: 0;
}

#portfolio {
    height: 100%;
    padding: 30px 0;
    margin-bottom: 50px;
}

.portfolio-heading {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px;
    font-size: 4rem;
    height: 10vh;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.project-details {
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project p {
    color: #ccc;
    text-align: justify;
}

.card {
    height: 40vh;
    width: 30vw;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(143, 135, 135, 0.7);
    transform: translateZ(0);
    cursor: pointer;
    position: relative;
}

.card.is-rotated {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 30vw;
    height: 40vh;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.click {
    position: absolute;
    top: 50%;
}

.card-back {
    color: #ffd700;
    transform: rotateY(180deg);
}

.card-front {
    background-color: #100785;
    color: white;
    transition: color 1s ease;
    font-weight: 600;
}

.card-button {
    background-color: #3c1cb1;
    padding: 10px;
    height: 60px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 50%;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.card-button:nth-child(2) {
    left: 50%;
    font-size: 1.7rem;
    display: inline;
}

.card-button:nth-child(2):hover {
    background-color: #24106d;
}

.card-link img:hover {
    border-radius: 20%;
    padding: 3px;
    background-color: #4f29d6;
}

.card-button:hover {
    color: white;
    background-color: #3c1cb1;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#canva-arts {
    height: 100%;
    padding: 30px 0;
    margin-bottom: 50px;
}

.canva-heading {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px;
    font-size: 4rem;
    height: 10vh;
}

.view_full {
    color: white;
    font-size: 1.5rem;
    margin: 100px 10px 0;
}

.carousel {
    width: 100%;
    overflow-x: scroll;
    padding: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: inline-block;
}

.carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #95bcd6;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 70px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 1000ms all;
    transition: 1000ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover~.carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

#skills {
    height: 100%;
    padding: 20px;
    background-color: #140f20;
}

.skills-heading {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px;
    font-size: 4rem;
    height: 10vh;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skill-card {
    overflow: visible;
    width: 25vw;
    height: 55vh;
    margin: 10px;
}

.skill-card:hover {
    cursor: pointer;
}

.skill-content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 800ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.skill-front,
.skill-back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.skill-back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.skill-back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 6000ms infinite linear;
}

.skill-back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.skill-card:hover .skill-content {
    transform: rotateY(180deg);
}

@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.skill-front {
    transform: rotateY(180deg);
    color: white;
}

.skill-front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front-content .skill-badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.front-content img {
    height: 120px;
    width: 120px;
}

.skill-description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.skill-title p {
    font-size: 0.8rem;
}

.skill-title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.skill-back-content img {
    height: 80px;
    width: 80px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
}

#bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
}

#right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 50px 0;
    white-space: nowrap;
    position: relative;
}

.logo-h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 100%;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0));
}

.logos-slide {
    display: inline-block;
    animation: 40s slide infinite linear;
}

.logo-container {
    display: inline-block;
    text-align: center;
    margin: 0 50px;
    border: none;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(38, 23, 90, 0.3);
    transition: all 0.4s ease-in-out;
}

.logo-img {
    height: 100px;
    transition: all 0.4s ease-in-out;
}

.logo-text {
    display: block;
    margin-top: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.logo-container:hover {
    box-shadow: 0 0 30px rgba(38, 23, 90, 1), 0 0 40px rgba(38, 23, 90, 0.5), 0 0 60px rgba(38, 23, 90, 0.3);
    transform: scale(1.15);
    cursor: pointer;
}

.logo-container:active {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

#contact {
    height: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

.contact-heading {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px;
    font-size: 4rem;
}

.contact-info {
    max-width: 600px;
    margin: 0 auto;
    color: white;
}

.contact-info p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.contact-email {
    margin-bottom: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    color: white;
}

.contact-form p {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    color: black;
    font-weight: 600;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4717F6;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #000000;
    color: white;
}

footer {
    background-color: #27125a;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 100px;
    font-weight: bold;
}

.footer-links {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: relative;
}

.footer-links a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: aqua;
    transition: width 0.3s, left 0.3s;
}

.footer-links a:hover::before {
    width: 100%;
    left: 0;
}

.footer-links a:hover {
    color: aqua;
}


.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.footer-social i {
    font-size: 2rem;
    font-weight: 600;
    transition: margin-top 0.2s ease-in-out;
}

.footer-social a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
}

.footer-social i:hover {
    margin-top: -4px;
}

.animation-container {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1300px) {
    .about-img {
        height: 30vh;
    }

    .skill {
        width: 80%;
        height: 40vh;
    }

    .skill-card {
        width: 45vw;
        height: 50vh;
    }

}

@media only screen and (max-width: 1050px) {

    #home {
        flex-direction: column;
    }

    .intro {
        width: 100vw;
        height: 60vh;
        margin: 0;
        padding: 20px;
    }

    .logo-h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 120px;
    }

    .intro-img {
        width: 100vw;
        height: 0vh;
        justify-content: center;
    }

    .intro-img img {
        width: 35rem;
    }

    .about-heading {
        font-size: 3rem;
        margin: 0;
    }

    .about-para {
        font-size: 0.8rem;
        text-align: left;
        overflow-y: scroll;
        height: 17vh;
        margin-bottom: 10px;
    }

    .about-img {
        height: 30vh;
    }

    .portfolio-heading {
        margin-bottom: 50px;
        font-size: 3rem;
    }


    .project {
        height: 30%;
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .project-details {
        height: 20%;
        width: 70%;
        margin-bottom: 40px;
    }

    .project p {
        width: 100%;
        text-align: left;
    }

    .card,
    .card-face {
        height: 30vh;
        width: 70vw;
        margin-bottom: 40px;
    }

    .skills-container {
        height: 100%;
    }

    .skill {
        width: 80%;
        height: auto;
    }

    .skill-card {
        width: 45vw;
        height: 40vh;
    }

    .skills-heading {
        font-size: 3rem;
    }

    .contact-heading {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 768px) {
    #hamburger i {
        display: block;
        position: fixed;
    }

    .intro-links {
        margin-top: 20px;
    }

    nav i {
        position: absolute;
        font-size: 3.5rem;
        right: 20px;
        top: 10px;
    }

    nav {
        width: 100vw;
        height: 100vh;
        left: -130%;
        z-index: 100;
        transition: all 0.5s ease-in-out;
    }

    .logo {
        display: none;
    }

    .logo-h1 {
        font-size: 1.5rem;
    }

    .logo-container {
        box-shadow: 0 0 30px rgba(38, 23, 90, 1), 0 0 40px rgba(38, 23, 90, 0.5), 0 0 60px rgba(38, 23, 90, 0.3);
    }


    .nav-elements {
        height: 100vh;
        width: 100vw;
    }

    .elements {
        flex-direction: column;
        font-size: 3rem;
        height: 100%;
        justify-content: center;
    }

    .intro {
        font-size: 2rem;
    }

    .intro-img {
        width: 100%;
        margin-top: 70px;
    }

    .intro-img img {
        width: 25rem;
    }

    .about-heading,
    .portfolio-heading,
    .skills-heading,
    .contact-heading {
        font-size: 2rem;
        margin: 0;
    }

    .contact-heading {
        margin-bottom: 60px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        margin: 10px 15px;
    }

    .about-img {
        width: 150px;
        margin-top: 0px;
        margin-bottom: 10px;
        height: auto;
    }

    .about-intro {
        font-size: 1.3rem;
    }

    .about-para {
        font-size: 0.8rem;
        text-align: left;
        overflow-y: scroll;
        height: 17vh;
        margin-bottom: 10px;
    }

    .about-box {
        flex-direction: column;
        align-items: normal;
        justify-content: unset;
    }

    .project {
        width: 90%;
    }

    .skill {
        width: 80%;
        height: auto;
    }

    .skill-card {
        width: 85vw;
        height: 40vh;
    }

    .footer-content {
        display: block;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links ul {
        justify-content: space-evenly;
        font-size: 0.8rem;
    }

    .footer-links li {
        margin-right: 0;
    }

    .footer-social {
        text-align: center;
    }

    .footer-social ul {
        justify-content: center;
    }
}

@media only screen and (max-width: 380px) {
    .about-heading {
        margin-top: -100px;
    }
}